.App {
  text-align: center;
}

div{
    background-color: #93979a;
    font-size: x-large;
    font-weight: 500;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

hover:route{
    color: pink;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tableFormat {
    margin: 2%;
    border-collapse: collapse;
    max-width: 100vw;
}

.tableFormat th, .tableFormat td {
    border: 2px solid black;
    padding: 8px;
    text-align: center;
}

.tableFormat th {
    background-color: #e2e2e2;
}

.infoBtn{
            margin: 5px;
            display: inline-block;
            padding: 5px;
            font-size: 20px;
            font-weight: 700;
            text-align: center;
            background-color: #e2e2e2;
            border: 2px solid #e2e2e2;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.infoBtn:hover{
    background-color: #0056b3;
    border-color: #0056b3;
    color: white;
}

.listDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listFormat{
    margin: 5%;
    border-collapse: collapse;
    width: 50%;
}

.infoInput{
    text-align:center;
    width: 200px;
}

.selectInput{
    text-align:center;
    width: 250px;
}

.addDiv{
    float: right;
    margin-right: 20px;
}

.addForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

.addFormInput{
    margin: 5px;
    display: flex;
    width: 600px;
    justify-content: space-around;
}

.addFormat {
    margin: 2%;
    border-collapse: collapse;
    max-width: 1050px;
}

.addWhat {
    padding: 8px;
    width: 300px;
    text-align: right;
}

.addInput {
    text-align: center;
    width: 250px;
}

.dropDownPrzystanek{
    width: 500px;
    text-align: center;
}

.checkBox{
    transform: scale(2);
    margin-right: 10px;
}